<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>KOREA IT 게시판!</title>
</head>
<style>
    table{
        width: 1200px;
        margin: 0 auto;
        text-align: center;
    }
    thead{
        background-color: antiquewhite;
    }
    td{
        border: 1px solid black;
    }
</style>
<body>
    <table>
        <thead>
            <tr>
                <td>순번</td>
                <td>제목</td>
                <td>작성자</td>
                <td>등록일</td>
                <td>조회수</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board: ${boards}">
                <td th:text="${board.no}">1</td>
                <td><a th:href="@{|/board/view?no=${board.no}|}" th:text="${board.title}">제목</a></td>
                <td th:text="${board.username}">김성우</td>
                <td th:text="${board.writeDate}">오늘</td>
                <td th:text="${board.count}">132</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a th:href="@{/board/write}">작성하기</a>
    </div>



</body>
</html>