<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인/회원가입</title>
    <script src="https://kit.fontawesome.com/53e865f4e7.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/main/login.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" >

</head>

<body>

    <form action="/user/login" method="post">
        <div class="box">
            <label><input type="text" th:name="id" placeholder="ID" /></label>
            <label><input type="password" th:name="pw" placeholder="PASSWORD" /></label>
            <button>로그인</button>

            <div class="sign-up-box">
                <i class="fa-solid fa-pen"></i>
            </div>
        </div>
    </form>

</body>
</html>

