*{
    font-family: 'Jua', sans-serif;
    user-select: none;
}

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
    color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: blue;
}
body {
    margin: 40px 10px;
    padding: 0;
    font-size: 14px;
}

#calendar{
    width: 1100px;
}

#user{
    top: 30px;
    padding: 0;
    width: 200px;
    height: 30%;
    margin-top: 15px;
    background-color: cornsilk;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

#list1, #list2{
    margin-top: 15px;
    padding: 0;
    width: 200px;
    height: 25%;
    background-color: cornsilk;
    border-radius: 5px;
    border:1px solid black;
}
main{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 950px;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
}

#userPhoto{
    background-image: none;
    width: 180px;
    height: 45%;
    margin: 0 auto;
    top: 0;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
#colorBox{
    background-image: none;
    width: 180px;
    height: 30%;
    margin: 0 auto;
    margin-top: 5px;
    background-position: center;
}

button{
    width: 50%;
    background-color: rgba(15, 42, 56, 0.6);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: #f6dade;
    color: black;
}

#buttons{
    display: flex;
    margin: 5px 5px;
    padding: 5px 5px;
}

#buttons > button + button{
    margin-left: 10px;
}

#grp_buttons > button:hover{
    background-color: lightpink;
}


li{
    width: 180px;
    height: 22%;
    background-color: rgba(161, 161, 161, 0.3);
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

li:hover{
    background-color: rgba(161, 161, 161, 0.5);
}

.plist_name{
    font-size: 1.3rem;
    height: 30px;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.plist_date{
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


div{
    text-align: center;
}

#leftInfo{
    height: 1000px;
    margin-right: 50px;
    font-family: 'Jua', sans-serif;
    font-size: large;
    cursor: pointer;
}
main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#profile{
    font-size: 1.5rem;
}

span{
    font-size: 1rem;
}


.list_name{
    margin: 5px 5px;
    background-color: rgba(209, 239, 255, 0.8)
}

#grp_buttons{
    width: 100%;
    margin-top: 6px;
    left: 5px;
    position: relative;
    text-align: left;
}

#grp_buttons:hover{
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    left: 5px;
    width: 100%;
    transition-duration: 0.5s;
}
#grp_buttons:hover button{
    position: relative;
    margin-bottom: 5px;
    transition-duration: 0.5s;
}


#grp_buttons > button {
    width: 95%;
    height: 35px;
    background-color: rgb(248, 232, 245);
    color: black;
    border: 0.2px solid black;
    font-size: 1rem;
    position: absolute;
}
#grp_buttons > button:nth-child(1){
    z-index: 1;
}

#list2{
    height: 265px;
}

#list1{
    position: relative;
    display: inline-block;
}



.lists{
    scrollbar-width: none;
    height: 210px;
    overflow-y: auto;
    -ms-scroll-snap-type: none;
    padding:0 0;
    margin: 0;

}
ul{
    list-style: none;
}

.lists::-webkit-scrollbar-thumb{
    height: 100%;
    background-color: transparent;
}

.grp {
    height: 17%;
}



.lists::-webkit-scrollbar-track {
    background-color: transparent;
}

.lists::-webkit-scrollbar{
    width: 0;
}

#list2 > .lists {
    height: 180px;
}

.weather {
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    /*grid-template-rows: repeat(2, 1fr);*/
    /*border: 1px solid black;*/
    /*border-radius: 8px;*/
    padding-top: 8px;
    /*background-color: #fff8dc;*/

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff8dc;
}

.main_date {
    /*border: 1px solid black;*/
    /*border-radius: 8px;*/
    /*padding-top: 8px;*/
    /*padding: 0px 23px;*/
    padding: 10px 0;
    /*background-color: #fff8dc;*/
    border-left: 1px solid black;
}

.y, .m, .d{
    /*text-align: right;*/
}

.y{
    /*margin-top: 10px;*/
}

label {
    display: inline-flex;
    width: 85px;
}

